body {
    background-color: #f6dada;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    background-color: #dedbd2;
    margin-bottom: 20 px;
}

.logo {
    max-width: 140px;
    min-width: 100px;;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-label {
    margin-right: 10px;
    color: #582C4D;
}

#search-btn {
    margin-left: 10px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #edafb8;
}

.card-title {
    text-align: center;
    color: #582C4D;
}

.card-text {
    color: #582C4D;
}

.movie-card .btn {
    align-self: flex-end;
    align-self: center;
}

.btn-primary {
    background-color: #4a5759;
    border-color: #4a5759;
}

.btn-primary:hover {
    background-color: #b0c4b1;
    border-color: #b0c4b1; 
}

.line {
    border: none;
    height: 1px;
    background-color: #edafb8;
    margin: 20px 0;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;  
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #582C4D;
}

.form-group {
    margin-bottom: 20px;
}
